* {
  box-sizing: border-box;
}

.container {
  background-color: #07575b;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: center; */
  align-items: stretch;
  align-content: center;
}

.container > div {
  background-color: #66a5ad;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 1px;
  border: 3px solid #c4dfe6;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px; */

  /* flex: 0 1 200px; */

  /* flex: 0 1 auto; */
  /* flex: initial; */

  /* flex: 1 1 auto; */
  /* flex: auto; */

  /* flex: 1 0 auto; */
  /* flex: 1; */

  /* flex: 0 0 auto; */
  /* flex: none; */

  /* flex: 1; */
  /* flex: 10%; */

  flex: 1 10%;

}

#facebook {
  font-size: 10px;

  /* flex: 3; */
  flex: 30%;
}

#apple {
  /* flex-shrink: 0; */

  /* flex: 3; */
  flex: 30%;
}