// nesting
// sass: syntatically awesome style sheet

@import "utils/variables";
@import "components/navigation";
@import "base/base";

article {
  div {
    h3 {
      color: $color2;
      font-size: 28px;
    }
    p {
      color: $color3;
      font-size: 20px;
    }
  }
}

.btn-wide {
  width: 50%;
}

%btn-common {
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @extend .btn-wide;
}

.btn-success {
  @extend %btn-common;
  @extend .btn-wide;
  background-color: lawngreen;
}

.btn-warning {
  @extend %btn-common;
  background-color: darkorange;
}

.btn-error {
  @extend %btn-common;
  background-color: orangered;
}
