* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details {
    background-color: greenyellow;
    flex: 3;
}

.comments {
    background-color: deepskyblue;
    flex: 1;
}

.submit {
    background-color: darkred;
    margin-top: auto;
}